<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/f_style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Document</title>

</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-border" >
                <a class="navbar-brand pl-4" href="#"><img src="../img/logo.jpeg" alt="logo" width="60%"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto menu-screen">
                    <a class="nav-item nav-menu active" href="#">HOME <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-menu" href="#">LOANS</a>
                    <a class="nav-item nav-menu" href="#">ABOUT US</a>
                    <a class="nav-item nav-menu" href="#">FEATURES</a>
                    <a class="nav-item nav-menu" href="#">ACCOUNT</a>
                    
                  </div>
                  <a class="nav-item nav-menu " href="#"><i class="fa fa-user fa-3x" style="color: rgb(245, 68, 59)"></i></a>
                </div>
              </nav>
              <div class="container-fluid">
            
                    <div class="row" style="background-color: #E0E0E0;">
                            <div class="col-2"></div>
                            <div class="col-md-7 col-sm-10" style="display: block;background-color:#FAFAFA;">
                                <div style="display: flex">
                                    <div class="col-4 p-4" style="padding-top:10% !important;">
                                        <div class="salary-card" style="padding: 0 0 0.5rem 0 !important; margin-top:1rem;">
                                                <span class="salary-earner">Salary Earner</span>   <br>
                                                    <span class='loan-id'>Loan ID: 8583846</span> <br>
                                                    <span class='salary-card-text1'>Approved</span>
                                                <div>
                                                    <div class="completed1"></div>
                                                </div>
                                        </div>
                                        <div class="salary-card" style="padding: 0 0 0.5rem 0 !important;margin-top:1rem;">
                                                <span class="salary-earner">Salary Earner</span>   <br>
                                                    <span class='loan-id'>Loan ID: 8583846</span> <br>
                                                <span class='salary-card-text1'>Approved</span>
                                                <div>
                                                    <div class="completed1"></div>
                                                </div>
                                        </div>
                                        <div class="salary-card" style="padding: 0 0 0.5rem 0 !important; margin-top:1rem;">
                                                <span class="salary-earner">Salary Earner</span>   <br>
                                                    <span class='loan-id'>Loan ID: 8583846</span> <br>
                                                <span class='salary-card-text1'>Rejected</span>
                                                <div>
                                                    <div class="completed1 " style="background-color: #D9261B !important"></div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col p-5" style="padding-top:15% !important;">
                                            
                                            <div class="salary-card in-card">
                                                <div class="salary-card-sm p-3">
                                                    <span class='loan-id salary-card-sm'>Salary Earner</span>  <br>
                                                 </div>
                                                    <span class='loan-id'style="color: #727676">ID:P28464983</span> <br>
                                                    <span class='loan-id text-left' style="color: #727676 ">Janet Doe</span>
                                                    <span class='loan-id text-left' style="color: #727676; padding-left: 5rem;"></span> 
                                                    <span class='loan-id text-right' style="color: #727676">Balance: &#8358;150000</span> <br>
                                                    <span class='salary-card-text'>&#8358;550,000</span>
                                                    <div class="bar bar2" >
                                                            <div class="in-progress2"></div>
                                                    </div>
                                            </div>
                                            
                                    </div>
                                </div>
                                <div class="row p-0">
                                    <div class="col-4 text-center p-3" style="background-color: #F4CFCD"><h6 class="font-weight-bold">Payment Schedule</h6></div>
                                    <div class="col-4 text-center p-3" style="background-color: #D9261B"><h6 class="font-weight-bold"> Documents</h6> </div>
                                    <div class="col-4 text-center p-3" style="background-color: #F4CFCD"><h6 class="font-weight-bold">Loan Details</h6> </div>
                                </div>
                                
                        </div>
                        <div class='col p-0 bg-dark' style='display: block;'>
                            <div class='side-menu' >Credit Check</div>
                            <div class='side-menu bg-light' style="color: black"'>Loan History</div>
                            <div class='side-menu'>Repayment History</div>
                            <div class='side-menu'>Loan Application</div>
                            <div class='side-menu'>Funding</div>
                            <div class='side-menu'>Messages</div>
                            <div class='side-menu'>Settings</div>
                            <div class='side-menu'>FAQ</div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-2" style="background-color: #F9F9F9"> </div>
                                <div class="col-md-9 col-sm-10 p-3"> 
                                        <div class="bg-dark text-center p-1">
                                            <div class=" font-weight-bold pt-1" style="color: white; font-size:1rem;"> Documents </div> 
                                        </div>
                                    <div class="p-3" style="background-color: #F9F9F9">

                                        <div class="text-center d-flex p-1"   >
                                                <div class="col-6 text-left" style="font-weight: 600;font-size:1rem;" > Bank Statements</div>
                                                <div class="col-4 text-center" ><div  class='submitted-pad' ><i class="fa fa-check-circle"></i> &nbsp;Submitted</div></div>
                                                <div class="col text-center" style="font-weight: 700"> <div class ='view'>view</div></div>
                                        </div>
                                        <div class="text-center d-flex p-1" >
                                                <div class="col-6 text-left" style="font-weight: 600;font-size:1rem;" > Employment Letter</div>
                                                <div class="col-4 text-center" ><div  class='submitted-pad' ><i class="fa fa-check-circle"></i> &nbsp;Submitted</div></div>
                                                <div class="col text-center" style="font-weight: 700"> <div class ='view'>view</div></div>
                                        </div>
                                        <div class="text-center d-flex p-1" >
                                                <div class="col-6 text-left" style="font-weight: 600;font-size:1rem;" > Salary Account Statement for 6 Months</div>
                                                <div class="col-4 text-center" ><div  class='submitted-pad' ><i class="fa fa-check-circle"></i> &nbsp;Submitted</div></div>
                                                <div class="col text-center" style="font-weight: 700"> <div class ='view'>view</div></div>
                                        </div>
                                        <div class="text-center d-flex p-1" >
                                                <div class="col-6 text-left" style="font-weight: 600;font-size:1rem;" > Utility Bills</div>
                                                <div class="col-4 text-center" ><div  class='submitted-pad' ><i class="fa fa-check-circle"></i> &nbsp;Submitted</div></div>
                                                <div class="col text-center" style="font-weight: 700"> <div class ='view'>view</div></div>
                                        </div>
                                        <div class="text-center d-flex p-1" >
                                                <div class="col-6 text-left" style="font-weight: 600;font-size:1rem;" > Passport Photograph</div>
                                                <div class="col-4 text-center" ><div  class='submitted-pad' ><i class="fa fa-check-circle"></i> &nbsp;Submitted</div></div>
                                                <div class="col text-center" style="font-weight: 700"> <div class ='view'>view</div></div>
                                        </div>
                                    </div> 
                                        <div class="col p-3"><div class="col"></div></div>  
                               </div>
                            <div class="col" style="background-color: #E0E0E0"> </div>
                            
                    </div>
                    

                </div>
                



</body>