{% block navbar %}

<div class='col p-0 bg-dark' style='display: block;'>
                            <div class='side-menu'>Credit Check</div>
                            <div class='side-menu'>Loan History</div>
                            <div class='side-menu bg-light' style="color: black">Repayment History</div>
                            <div class='side-menu'>Loan Application</div>
                            <div class='side-menu'>Funding</div>
                            <div class='side-menu'>Messages</div>
                            <div class='side-menu'>Settings</div>
                            <div class='side-menu'>FAQ</div>
 </div>

{% endblock %}                        